.pageTitleComponent {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: var(--token-MOzfXwKQKV4j);
  column-gap: 0px;
  justify-self: flex-start;
  max-height: 60px;
  min-height: 60px;
  height: 60px;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 10px 0px 0px;
}
.leftDropdown:global(.__wab_instance) {
  object-fit: cover;
  flex-grow: 0;
  flex-shrink: 0;
  overflow: hidden;
  font-size: 2rem;
  align-self: auto;
  user-select: none;
  white-space: pre;
  text-overflow: clip;
  cursor: pointer;
  width: auto;
  height: 100%;
  min-height: 0;
}
.menuItem__buul8:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__uwHdh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.menuItem__anOz5:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__bDeMg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  overflow: hidden;
  flex-grow: 0;
  column-gap: 5px;
  padding: 0px;
}
.pageTitleText {
  position: relative;
  width: auto;
  height: auto;
  flex-shrink: 0;
  align-self: center;
  white-space: pre;
  user-select: none;
  text-overflow: clip;
  overflow: hidden;
}
.chevronDownImage {
  object-fit: cover;
  flex-shrink: 0;
  flex-grow: 0;
  align-self: center;
  height: 1em;
  width: auto;
}
.centerHorizontalStack {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: center;
  column-gap: 0px;
  flex-grow: 1;
  overflow: hidden;
  height: 100%;
  width: 100%;
  align-self: auto;
  min-width: 0;
  min-height: 0;
  padding: 0px;
  margin: 0px;
}
.rightHorizontalStack {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: center;
  flex-shrink: 0;
  overflow: hidden;
  height: 100%;
  flex-grow: 0;
  align-self: auto;
  width: auto;
  cursor: pointer;
  min-height: 0;
  padding: 0px;
  margin: 0px;
}
.searchUserButton:global(.__wab_instance) {
  object-fit: cover;
  font-size: 2rem;
  flex-shrink: 0;
  overflow: hidden;
  flex-grow: 0;
  height: 100%;
  width: 100%;
  display: block;
  align-self: stretch;
  user-select: none;
  white-space: pre;
  text-overflow: clip;
  cursor: pointer;
  min-width: 0;
  min-height: 0;
  padding: 0px 15px;
  margin: 0px;
}
.searchUserImage {
  object-fit: cover;
  position: relative;
  left: auto;
  top: auto;
  align-self: auto;
  width: 100%;
  height: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  cursor: pointer;
  min-width: 0;
  min-height: 0;
  margin: 0px;
}
